[Unit]
Description=HeadPlane UI for HeadScale
Wants=network-online.target
Requires=headscale.service
After=headscale.service

[Container]
Pod=headscale.pod

AutoUpdate=registry
ContainerName=headplane

#Lock version - update must be provided carefuly
Image=ghcr.io/tale/headplane:0.5.2

Volume=/home/%u/volumes/headplane/config.yaml:/etc/headplane/config.yaml:Z
Volume=/home/%u/volumes/headscale/config/config.yaml:/etc/headscale/config.yaml:z

Volume=/%t/podman/podman.sock:/var/run/docker.sock

[Service]
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target default.target
