[Unit]
Description=Traefik reverse proxy
Wants=network-online.target
After=network-online.target

[Container]
Pod=headscale.pod

AutoUpdate=registry

ContainerName=traefik

Volume=/home/%u/volumes/traefik/config:/etc/traefik:Z
Volume=/home/%u/volumes/traefik/logs:/logs:Z

Image=docker.io/traefik:latest

HealthCmd=CMD-SHELL traefik healthcheck --ping
HealthInterval=10s
HealthRetries=5
HealthStartPeriod=5s
HealthTimeout=3s
HealthOnFailure=kill

[Service]
Restart=on-failure
MemoryMax=512M

[Install]
WantedBy=multi-user.target default.target

